#chat-container {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 120px;
}

#chat-trigger {
	background-color: rgba(51, 51, 51, 0.9);
	border: 1px solid #D7C193;
	height: 20px;
	background-image: url('../assets/Panels/chatbox.png');
	background-size: 100% 100%;
}

#chat-trigger:hover {
	background-color: #777;
}

#chat-box {
	display: none; /*Initially hidden*/
	background-image: url('../assets/Panels/chatbox.png');
	background-size: 100% 100%;
	border-bottom: none;
}

/* All user chat */
#messages {
	height: 115px;
	padding: 3px;
	background-color: rgba(25, 25, 25, 0.5);
	overflow: auto;
}

/* Where user inputs chat text */
#message {
	width: 85%;
	padding-bottom: 0px;
	background: transparent;
	border: none;
	height: 100%;
	outline: 0;
	color: #EEEEEE;
	font-family: 'MedievalSharp', cursive;
	font-size: 14px;
	color: #FCD583 !important;
}

/* Send message button */
#send-message {
	width: 12%;
	padding-bottom: 0px;
	height: 85%;
	background: transparent;
	border: 1px solid #D7C193;
	font-family: 'MedievalSharp', cursive;
	font-size: 14px;
	color: #FCD583 !important;
}

#send-message:hover {
	background-color: #777;
}

/*Div containing user chat message and "send message" button */
#chat-send-box {
	height: 25px;
	background-color: rgba(10, 10, 10, 0.5);
	background-image: url('../assets/Panels/chatbox.png');
	background-size: 100% 100%;
	padding-left: 1px;
}