#chat-container {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 120px;
	/*height: 170px;*/
}

#chat-trigger {
	background-color: rgba(51, 51, 51, 0.9);
	border: 1px solid #D7C193;
/* 	color: #E7CE99 !important; */
	/* 	border: 1px solid white; */
/* 	color: #EEEEEE; */
	height: 20px;
	background-image: url('../assets/Panels/chatbox.png');
	background-size: 100% 100%;
}

#chat-trigger:hover {
	background-color: #777;
}

#chat-box {
	display: none; /*Initially hidden*/
	background-image: url('../assets/Panels/chatbox.png');
	background-size: 100% 100%;
	border-bottom: none;
	/* 	border: 1px solid white; */
}

#messages {
	height: 115px;
	padding: 3px;
	background-color: rgba(25, 25, 25, 0.5);
	overflow: auto;
	font-family: 'MedievalSharp', cursive;
	color: #FCD583 !important;
	/* 	color: #EEEEEE; */
/*  background-color: transparent; */
/* 	font-family: 'Arial', sans-serif; */
/* 	font-size: 14px; */
}

#message {
	width: 85%;
	padding-bottom: 0px;
	background: transparent;
	border: none;
	height: 100%;
	outline: 0;
	color: #EEEEEE;
}

#send-message {
	width: 12%;
	padding-bottom: 0px;
	height: 85%;
	background: transparent;
	border: 1px solid white;
	color: white;
}

#send-message:hover {
	background-color: #777;
}

#chat-send-box {
	height: 25px;
	background-color: rgba(51, 51, 51, 0.8);
	padding-left: 5px;
	border: 1px solid white;
}
