body,html {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: 'MedievalSharp', cursive;
	font-size: 14px;
	color: #E7CE99 !important;
	cursor: url('../assets/Cursors/Arrow.cur'), default;
}

a, button {
	cursor: url('../assets/Cursors/Arrow.cur'), default;
}

#gwtGL {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

.full-size {
	width: 100%;
}

.half-size {
	width: 50%;
}

.text-center {
	text-align: center;
}

hr {
	border-color: #E7CE99 !important;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}