#tile-info {
	position: fixed;
	right: 0;
	bottom: 120px;
	width: 110px;
	background-color: rgba(51, 51, 51, 0.8);
	color: #EEEEEE;
	padding: 5px;
	margin: 0;
	height: 40px;
	z-index: 999;
	border: 1px solid white;
}

#minimap {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 120px;
	width: 120px;
	background-color: rgba(51, 51, 51, 0.9);
	padding: 0;
	margin: 0;
	z-index: 999;
	border: 1px solid white;
}