#sidebar {
	position: fixed;
	bottom: 0;
	left: -1000px;
	/* This is too big, but get's calculated on Interface.init */
	top: 50px;
	width: 350px;
	background-image: url('../assets/Panels/panel_sidebar.png');
	background-size: 100% 100%;
	border-left: none;
	/*color: white;*/
	padding: 15px;
	margin: 0;
	z-index: 999;
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

/*
#sidebar-hide {
	position: absolute;
	top: 45%;
	left: 100%;
	padding: 5px;
	float: right;
	margin-right: -32px;
	width: 15px;
	height: 30px;
	border: 1px white solid;
	background-color: rgba(51, 51, 51, 0.8);
	font-size: 12px;
}

#sidebar-hide:hover {
	background-color: rgba(255, 255, 255, 0.4);
}
*/

.sidebar-menu {
	display: none;
	opacity: 1.0;
}


.sidebar-table {
	width: 100%;
	table-layout: fixed;
}

.sidebar-table tr td:first-child {
	width: 70%;
}

.sidebar-table tr td:nth-child (2) {
	text-align: center;
}

.sidebar-table tr td {
	padding-bottom: 10px;
}

.sidebar-table tr td div:first-child {
	/*#agent-menu-table tr td div:first-child {*/
	font-size: 18px;
	font-weight: bold;
}

.form-label {
	width: 25%;
	float: left;
}
