#chat-container {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 120px;
	/*height: 170px;*/
}

#chat-trigger {
	background-color: rgba(51, 51, 51, 0.9);
	border: 1px solid white;
	color: #EEEEEE;
	height: 20px;
}

#chat-trigger:hover {
	background-color: #777;
	cursor: pointer;
}

#chat-box {
	display: none; /*Initially hidden*/
	border: 1px solid white;
	border-bottom: none;
}

#messages {
	height: 115px;
	padding: 3px;
	color: #EEEEEE;
	background-color: rgba(51, 51, 51, 0.5);
	/*background-color: transparent;*/
	overflow: auto;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}

#message {
	width: 85%;
	padding-bottom: 0px;
	background: transparent;
	border: none;
	height: 100%;
	outline: 0;
	color: #EEEEEE;
}

#send-message {
	width: 12%;
	padding-bottom: 0px;
	height: 85%;
	background: transparent;
	border: 1px solid white;
	color: white;
}

#send-message:hover {
	cursor: pointer;
	background-color: #777;
}

#chat-send-box {
	height: 25px;
	background-color: rgba(51, 51, 51, 0.8);
	padding-left: 5px;
	border: 1px solid white;
}