#sidebar {
	position: fixed;
	bottom: 0;
	left: -1000px;
	/* This is too big, but get's calculated on Interface.init */
	top: 50px;
	width: 350px;
	background-image: url('assets/Panels/panel_sidebar.png');
	background-size: 100% 100%;
	border-left: none;
	/*color: white;*/
	padding: 15px;
	margin: 0;
	z-index: 999;
	font-size: 16px;
	overflow-y: auto;
	overflow-x: hidden;
}

#sidebar-hide {
	position: absolute;
	top: 45%; /*Not correct*/
	left: 100%;
	padding: 5px;
	float: right;
	margin-right: -32px;
	width: 15px;
	height: 30px;
	border: 1px white solid;
	background-color: rgba(51, 51, 51, 0.8);
	font-size: 12px;
}

#sidebar-hide:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-menu {
	display: none;
	opacity: 1.0;
}

.sidebar-btn {
	font-family: 'MedievalSharp', cursive;
	outline: 0;
	padding: 5px;
	font-size: 14px;
	color: #E7CE99 !important;
}

.btn-red {
	background-image: url('assets/Buttons/longButton_pressed.png');
	background-size: 100% 100%;
}

.btn-red:hover {
	background-image: url('assets/Buttons/longButton_unpressed.png');
	background-size: 100% 100%;
}

.btn-green {
	background-image: url('assets/Buttons/longButton_Green.png');
	background-size: 100% 100%;
}

.btn-green:hover {
	background-image: url('assets/Buttons/longButton_Green_hover.png');
	background-size: 100% 100%;
}

.sidebar-table {
	width: 100%;
	table-layout: fixed;
}

.sidebar-table tr td:first-child {
	width: 70%;
}

.sidebar-table tr td:nth-child (2) {
	text-align: center;
}

.sidebar-table tr td {
	padding-bottom: 10px;
}

.sidebar-table tr td div:first-child {
	/*#agent-menu-table tr td div:first-child {*/
	font-size: 18px;
	font-weight: bold;
}

.form-label {
	width: 25%;
	float: left;
}
