#sidebar {
	position: fixed;
	bottom: 0;
	left: -397px;
	top: 50px;
	width: 350px;
	/*background-color: rgba(51, 51, 51, 0.8);*/
	background-image: url('assets/Panels/panel_sidebar.png');
	background-size: 100% 100%;
	border-left: none;
	color: white;
	padding: 10px;
	margin: 0;
	z-index: 999;
	/*display: none;*/
}

#sidebar-hide {
	position: absolute;
	top: 45%; /*Not correct*/
	left: 100%;
	padding: 5px;
	cursor: pointer;
	float: right;
	margin-right: -32px;
	width: 15px;
	height: 30px;
	border: 1px white solid;
	background-color: rgba(51, 51, 51, 0.8);
}

#sidebar-hide:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.sidebar-menu {
	display: none;
	opacity: 1.0;
}

.sidebar-btn {
	font-family: 'MedievalSharp', cursive !important;
	cursor: pointer;
}

.btn-red {
	background-image: url('assets/Buttons/button_pressed.png');
	background-size: 100% 100%;
	color: white;
}

.btn-red:hover {
	background-image: url('assets/Buttons/button_unpressed.png');
	background-size: 100% 100%;
}