body,html {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-family: 'MedievalSharp', cursive !important;
}

#gwtGL {
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
}

#toolbar-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(51, 51, 51, 0.8);
	border-bottom: 1px white solid;
	color: #EEEEEE;
	margin: 0;
	z-index: 999;
}

#sidebar {
	position: fixed;
	bottom: 0;
	left: -388px;
	top: 50px;
	width: 350px;
	background-color: rgba(51, 51, 51, 0.8);
	border: 1px white solid;
	border-left: none;
	color: white;
	padding: 5px;
	margin: 0;
	z-index: 999;
	/*display: none;*/
}

#sidebar-hide {
	position: absolute;
	top: 45%; /*Not correct*/
	left: 100%;
	padding: 5px;
	cursor: pointer;
	float: right;
	margin-right: -32px;
	width: 15px;
	height: 30px;
	border: 1px white solid;
	background-color: rgba(51, 51, 51, 0.8);
}

#sidebar-hide:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

#tile-info {
	position: fixed;
	right: 0;
	bottom: 120px;
	width: 110px;
	background-color: rgba(51, 51, 51, 0.8);
	color: #EEEEEE;
	padding: 5px;
	margin: 0;
	height: 40px;
	z-index: 999;
}

#minimap {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 120px;
	width: 120px;
	background-color: rgba(51, 51, 51, 0.9);
	padding: 0;
	margin: 0;
	z-index: 999;
}

#banner {
	display: inline-block;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}

#toolbar {
	position: absolute;
	height: 50px;
	margin: 0;
	padding-left: 10px;
	border-left: 2px solid #EEEEEE;
	list-style-type: none;
	display: inline;
}

#toolbar li {
	display: inline;
	vertical-align: middle;
	text-align: center;
}

#toolbar li a {
	color: white;
	float: left;
	cursor: pointer;
	width: 70px;
	height: 45px;
	text-decoration: none;
	padding-top: 5px;
}

#toolbar li a img {
	width: 60px;
	height: 40px;	
}

#toolbar li a:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

#city-menu, #agent-menu {
	display: none;
}
}